/* Container holding the image and the text */
core-image{
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.core-bottom-left-description {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.core-top-left-description {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.core-top-right-description {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.core-bottom-right-description {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.core-centered-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}